@import '../../styles/variables.less';

.shell {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

.boardWrapper {
  flex: 1;
  overflow: hidden;
  min-width: 0;
}

.timePanel {
  flex-shrink: 0;
  padding: @board-padding @board-padding @board-padding 0;
  display: flex;

  @media (max-width: @bp-tablet) {
    display: none;
  }
}
